.btn-color {
  background-color: #FEFAE0;
  color: #062b1f;
  border-radius: 5px;
  padding: 14px 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(8, 42, 22, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
